<%= link_to t('back'), eval("admin_#{resource.class.name.downcase.pluralize}_path"), :class => 'button icon arrowleft'%>
<%= link_to t('edit'), eval("edit_admin_#{resource.class.name.downcase}_path(resource)"), :class => 'button icon edit' %>

<div class="document_show">
  <h2><%= resource.title %></h2>

  <div class='description'>
    <%= resource.description %>
  </div>

  <div class='published_on'>
    <%= t('published') %> <%= l resource.published_on, :format => :long %>
  </div>
</div>
