<%= link_to t('back'), [controller_namespace, resource.class.name.pluralize.downcase.to_sym], :class => 'button icon arrowleft'%>
<%= link_to t('edit'), eval("edit_admin_#{resource.class.name.downcase}_path(resource)"), :class => 'button icon edit' if controller_namespace%>

<div class="document_show">
  <% if resource.deflected? %>
    <div>
      <%= resource.human_state %>
      <%= l resource.deflected_on %>
    </div>
  <% end %>

  <h2><%= resource.title %></h2>

  <div class='description'>
    <%= resource.description %>
  </div>

  <div class='attached_file'>
    <% if resource.file_url %>
      <% file_name, name, sg, type = URI.decode(resource.file_url).match(/([^\/.]+)(\.(.{3}))?$/).to_a %>
      <%= link_to content_tag(:span)+name, resource.file_url, :class => type %>
    <% end %>
  </div>

  <div class='published_on'>
    <%= t('published') %> <%= l resource.published_on, :format => :long %>
  </div>
</div>
