<%= form.inputs do %>
  <%= form.input :kind, :collection => form.object.class.values_for_select_tag(:kind) %>
  <%= form.input :authority %>
  <%= form.input :title %>
  <%= form.input :published_on, :as => :date_picker, :format => "%d.%m.%Y" %>
  <%= form.input :file_url, :as => :hidden, :input_html => {:id => 'file_url'} %>
  <li class='attached_file'>
    <label class='label'><%= t('file') %></label>
    <% if form.object.file_url %>
      <% file_name, name, sg, type = URI.decode(form.object.file_url).match(/([^\/.]+)(\.(.{3}))?$/).to_a %>
      <%= link_to content_tag(:span)+name, form.object.file_url, :class => type %>
    <% else %>
      <span><%= t('file_not_selected') %></span>
    <% end %>
  </li>
  <%= link_to t('choose_file'), '#', :class => 'choose_file button icon settings', :id => Time.now.to_i %>
<% end %>

