<% unless @association %>
  <%= render :partial => 'papers/search_form', :locals => { :klass => 'project' } %>
  <%= link_to t("new_#{controller_name.singularize}"), new_resource_path, :class => 'new button icon add' %>
<% end %>

<ul>
  <li><%= link_to t('actual'), actual_admin_projects_path %></li>
  <li><%= link_to t('asserted'), asserted_admin_projects_path %></li>
  <li><%= link_to t('deflected'), deflected_admin_projects_path %></li>
</ul>

<%= render :partial => 'admin/papers/papers_list', :locals => { :collection => collection }%>
