<%= semantic_search_form_for klass.to_sym, :url => [controller_namespace, klass.pluralize.to_sym ] do |form| %>
  <%= form.inputs do %>
    <%= form.input :keywords, :as => :string %>
    <div class="ajax_indicator"></div>
  <% end %>
  <%= form.actions do %>
    <%= button_tag t('search'), :class => 'button icon search' %>
  <% end %>
<% end %>
