<% if collection.any? %>
  <ul class='paper_list'>
    <% collection.each do |item| %>
      <li class=<%= cycle('odd', 'even') %>>
        <%= semantic_form_for @document.send(association.to_sym).build,
                              :url => eval("manage_document_#{association}_path(@document)"),
                              :html => { :class => 'add_form_button' } do |form| %>
          <%= form.inputs do %>
            <%= form.input :subject_id, :as => :hidden %>
            <%= form.input :objekt_id, :as => :hidden, :value => item.id %>
          <% end %>
          <%= form.actions do %>
            <li><%= button_tag t('add'), :class => 'button icon add primary' %></li>
          <% end %>
        <% end %>
        <%= render item %>
      </li>
    <% end %>
  </ul>
  <%= paginate collection, :remote => true %>
<% else %>
  <p>
    <%= t('no_results') %>
  </p>
<% end %>


