<% if resource.instance_of?(Project) %>
  <% if controller_namespace.to_s == 'manage' %>
    <%= link_to t('back'), [resource.state, controller_namespace, resource.class.name.pluralize.downcase.to_sym], :class => 'button icon arrowleft'%>
  <% else %>
    <%= link_to t('back'), [resource.class.name.pluralize.downcase.to_sym], :class => 'button icon arrowleft'%>
  <% end %>
<% else %>
  <%= link_to t('back'), [controller_namespace, resource.class.name.pluralize.downcase.to_sym], :class => 'button icon arrowleft'%>
<% end %>

<%= link_to t('edit'), eval("edit_manage_#{resource.class.name.downcase}_path(resource)"), :class => 'button icon edit' if controller_namespace%>

<div class="document_show">
  <% if resource.deflected? %>
    <div>
      <%= resource.human_state %>
      <%= l resource.deflected_on %>
    </div>
  <% end %>

  <h2><%= resource.title %></h2>

  <div class='description'>
    <%= resource.description %>
  </div>

  <div class='attached_file'>
    <% if resource.attachment? %>
      <div class='attached_file'>
        <% url = resource.attachment_url %>
        <% filename = resource.attachment_file_name %>
        <% type = resource.attachment_content_type.match(/\/(.+)$/).try(:[], 1) %>
        <%= link_to content_tag(:span) + filename, url, :class => type %>
      </div>
    <% end %>
  </div>

  <div class='published_on'>
    <%= t('published') %> <%= l resource.published_on, :format => :long %>
  </div>
<%= content_tag :div, :class => 'asserted_by' do %>
  Утверждён нормативным документом
  <%= link_to raw("&laquo;#{resource.asserted_by.first.title}&raquo;"), manage_document_assertations_path(resource.asserted_by.first.id) %>
<% end if resource.asserted_by.any? %>
</div>
