<% unless @association %>
  <%= render :partial => 'papers/search_form', :locals => { :klass => 'project' } %>
  <%= link_to t("new_#{controller_name.singularize}"), new_resource_path, :class => 'new button icon add' %>

  <ul class='button-group'>
    <li><%= link_to t('all_projects'), manage_projects_path, :class => "button #{is_active('project')}" %></li>
    <li><%= link_to t('actual'), actual_manage_projects_path, :class => "button #{is_active('actual')}" %></li>
    <li><%= link_to t('asserted'), asserted_manage_projects_path, :class => "button #{is_active('asserted')}" %></li>
    <li><%= link_to t('deflected'), deflected_manage_projects_path, :class => "button #{is_active('deflected')}" %></li>
  </ul>
<% end %>

<%= render :partial => 'manage/papers/papers_list', :locals => { :collection => collection }%>

<%= paginate collection %>
