<%= link_to t("new_#{controller_name.singularize}"), new_resource_path, :class => 'new button icon add' %>

<ul class='paper_list'>
  <% collection.each do |item| %>
    <li class=<%= cycle('odd', 'even') %>>
      <%= link_to item, resource_path(item) %>
      <span class='description'><%= item.description %> </span>
      <span class='published_on'><%= t('published') %> <%= l item.published_on, :format => :long %> </span>
    </li>
  <% end %>
</ul>

