<%= semantic_form_for resource, :url => collection_path, :validate => true do |form| %>
  <%= render :partial => 'fields', :locals => { :form => form } %>

  <%= form.buttons :class => 'button-group' do %>
    <li>
      <%= button_tag t('formtastic.actions.create'), :class => 'button icon approve primary' %>
    </li>
    <li>
      <%= link_to t('cancel'), collection_path, :class => 'button icon reload' %>
    </li>
  <% end %>
<% end %>
