<!DOCTYPE html>
<html>
<head>
  <title>Documents</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='header'>
    <h1>Подсистема публикации нормативных документов</h1>
  </div>

  <ul class='top_navigation'>
    <li class='documents <%= "active" if controller_name == 'documents' %>'>
      <%= link_to t('documents'), [controller_namespace, :documents] %>
    </li>
    <li class='projects <%= "active" if controller_name == 'projects' %>'>
      <% if controller_namespace.to_s == 'admin' %>
        <%= link_to t('projects'), actual_admin_projects_path %>
      <% else %>
        <%= link_to t('projects'), projects_path %>
      <% end %>
    </li>
  </ul>

  <div class='main_wrapper'>
    <div class='main'>
      <%= yield %>
    </div>
  </div>

  <div class='footer'>
    <div class='copyright'>
      <%= Time.now.year.eql?(2011) ? '2011' : raw("2011&ndash;#{Time.now.year}") %>,
      <%= link_to 'OpenTeam', 'http://openteam.ru/' %>
    </div>
  </div>
</body>
</html>
