<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title><%= t('permissions.title') %></title>
    <%= stylesheet_link_tag 'manage/application' %>
    <%= javascript_include_tag 'manage/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= content_for(:esp_views_manage_links) do %>
      <%= link_to 'Система управления', manage_root_path %>
      <%= link_to 'Права доступа', manage_users_path %>
    <% end %>
    <%= render :partial => 'esp/views/header' %>
    <h1><%= yield(:esp_auth_title).presence || t('permissions.title') %></h1>
    <div class="container">
      <%= yield %>
    </div>
    <%= render :partial => 'esp/views/footer' %>
  </body>
</html>
